.modals input {
    border:none;
    background-color: #F5F5F5;
    border-radius: 5px;
    font-size: 10px;
}
.modals select {
    border:none;
    background-color: #F5F5F5;
    border-radius: 5px;
    font-size: 10px;
}
.modals textarea {
    border: none;
    background-color: #F5F5F5;
    border-radius: 5px;
    font-size: 10px;
}

.modals {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #014554;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #F5F5F5;
  }
  .modals-content {
    border-radius: 20px;
  }
  .modals-header, .modals-footer{
    padding: 10px;
  }
  .modals-title {
    margin:5px;
  }
  .modals-body {
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee ;
  }
  .modal-close-btn {
    margin:5px;
    float: right;
  }
  .lil-mar {
    margin-bottom: 10px;
  }